In [2]:
import json
import requests
import os
import urllib
from bs4 import BeautifulSoup
import pandas as pd
from csv_functions import *

In [25]:
circuits = circuit_csv()
constructor_results = constructor_results_csv()
constructor_standings = constructor_standings_csv()
constructors = constructors_csv()
driver_standings = driver_standings_csv()
drivers = drivers_csv()
lap_times = lap_times_csv()
pit_stops = pit_stops_csv()
qualifying = qualifying_csv()
races = races_csv()
results = results_csv()
seasons = seasons_csv()
status = status_csv()

In [24]:
drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
849,851,aitken,89,AIT,Jack,Aitken,1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,\N,ZHO,Guanyu,Zhou,1999-05-30,Chinese,https://en.wikipedia.org/wiki/Guanyu_Zhou

In [29]:
lap_times
races.loc[races['raceId']==841]

,raceId,year,round,circuitId,name,date,time,url
839,841,2011,1,1,Australian Grand Prix,2011-03-27,06:00:00,http://en.wikipedia.org/wiki/2011_Australian_G...

In [45]:
def driver_id_by_driver(driver_name):
    forename, surname=driver_name.split(' ')
    return drivers.loc[(drivers['surname']==surname) & (drivers['forename']==forename)]['driverId'].values[0]

def results_by_driver(driver_name):
    driver_id = driver_id_by_driver(driver_name)
    return results.loc[results['driverId']==driver_id]
    
#drivers.loc[(drivers['surname']=='Hamilton') & (drivers['forename']=='Lewis')].merge(lap_times,how='inner',on='driverId')

In [46]:
results_by_driver('Lewis Hamilton')

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
26,27,19,1,1,22,9,5,5,5,4.0,56,+46.548,5525103,53,3,1:35.462,209.033,1
56,57,20,1,1,22,3,13,13,13,0.0,56,\N,\N,25,19,1:35.520,203.969,11
68,69,21,1,1,22,5,3,3,3,6.0,66,+4.187,5903238,20,3,1:22.017,204.323,1
89,90,22,1,1,22,3,2,2,2,8.0,58,+3.779,5213230,31,2,1:26.529,222.085,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25301,25307,1070,1,131,44,2,2,2,2,18.0,71,+16.555,5935641,66,4,1:19.820,194.116,1
25320,25326,1071,1,131,44,10,1,1,1,25.0,71,1:32:22.851,5542851,46,2,1:11.982,215.503,1
25340,25346,1051,1,131,44,1,1,1,1,25.0,57,1:24:28.471,5068471,50,2,1:25.084,227.633,1
25360,25366,1072,1,131,44,1,1,1,1,26.0,50,2:06:15.118,7575118,47,1,1:30.734,244.962,1
25381,25387,1073,1,131,44,2,2,2,2,18.0,58,+2.256,5419601,43,3,1:26.615,219.495,1